
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
}
.Getapp_bg{
    background-image: url(/pattern.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
